@model IEnumerable<Hoist.Models.Ticket>



<div>
    @foreach (Ticket ticket in Model)
    {
        <div>
            <div>
                <span>@ticket.Title</span>
            </div>
        </div>
    }
</div>