@model Hoist.Models.Project

@{
    ViewData["Title"] = "Create";
}

@{
    ViewBag.Title = "Create Project";
    ViewBag.pTitle = "Create Project";
    ViewBag.pageTitle = "Projects";
    Layout = "_Layout";
}

@section styles{
    <!-- Plugins css -->
    <link href="~/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label" for="project-title-input">Project Title</label>
                        <input asp-for="Name" type="text" class="form-control" id="project-title-input"
                               placeholder="Enter project title">
                    </div>                   
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Project Description</label>
                        <textarea asp-for="Description" id="ckeditor-classic"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3 mb-lg-0">
                                <label asp-for="ProjectPriorityId" for="choices-priority-input" class="form-label">Priority</label>
                                <select asp-for="ProjectPriorityId" class="form-select" asp-items="ViewBag.ProjectPriorityId" data-choices data-choices-search-false
                                        id="choices-priority-input" required>                                    
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-lg-4">
                            <div>
                                <label asp-for="StartDate" class="form-label">Start Date</label>
                                <input asp-for="StartDate" type="text" class="form-control" id="datepicker-deadline-input" placeholder="Enter due date" data-provider="flatpickr">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <label asp-for="EndDate" class="form-label">Deadline</label>
                                <input asp-for="EndDate" type="text" class="form-control" id="datepicker-deadline-input" placeholder="Enter due date" data-provider="flatpickr">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

         

            <div class="text-end mb-4">
                <button type="submit" class="btn btn-success w-sm">Create</button>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Members</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="choices-lead-input" class="form-label">Team Lead</label>
                        <select class="form-select" asp-items="ViewBag.ProjectManagersId" name="projectManagerId"
                                id="choices-lead-input">
                        </select>
                    </div>
                    <div>
                        <label class="form-label">Team Members</label>
                        <div class="avatar-group">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Add Members">
                                
                                    <select id="mySelect" multiple="multiple" name="selectedMembers" asp-items="ViewBag.MembersId">
                                    </select>
                                    
                             
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    </div>
</form>
<!-- end row -->

<!-- end modal -->
@section scripts{
    <!-- ckeditor -->
    <script src="~/assets/libs/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

    <!-- dropzone js -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>
    <!-- project-create init -->
    <script src="~/assets/js/pages/project-create.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- multi.js -->
    <script src="~/assets/libs/multi.js/multi.min.js"></script>
    <!-- autocomplete js -->
    <script src="~/assets/libs/tarekraafat/autocomplete.js/autoComplete.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#mySelect').select2({
                placeholder: 'Select options',
                closeOnSelect: false,
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var $state = $(
                    '<span><input type="checkbox" class="mr-2" /> ' + state.text + '</span>'
                );
                return $state;
            }
        });
    </script>

}


