@model Hoist.Models.Project

@{
    ViewData["Title"] = "Edit";

    ViewBag.Title = "Edit Project";
    ViewBag.pTitle = "Edit Project";
    ViewBag.pageTitle = "Projects";
    Layout = "_Layout";
}

@section styles{
    <!-- Plugins css -->
    <link href="~/assets/libs/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Created" />
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label" for="project-title-input">Project Title</label>
                        <input asp-for="Name" type="text" class="form-control" id="project-title-input"
                               placeholder="Enter project title">
                    </div>                   
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Project Description</label>
                        <textarea asp-for="Description" id="ckeditor-classic"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3 mb-lg-0">
                                <label asp-for="ProjectPriorityId" for="choices-priority-input" class="form-label">Priority</label>
                                <select asp-for="ProjectPriorityId" class="form-select" asp-items="ViewBag.ProjectPriorityId" data-choices data-choices-search-false
                                        id="choices-priority-input" required>                                    
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-lg-4">
                            <div>
                                <label asp-for="StartDate" class="form-label">Start Date</label>
                                <input asp-for="StartDate" type="date"  class="form-control"  id="datepicker-startdate-input" placeholder="@Model.StartDate.ToString("dd MMM, yyyy")" data-provider="flatpickr">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <label asp-for="EndDate" class="form-label">Deadline</label>
                                <input asp-for="EndDate" type="date" class="form-control" id="datepicker-deadline-input" placeholder="Enter Deadline date" data-provider="flatpickr">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

         
            
            <div class="text-end mb-4">
                
                <button type="submit" class="btn btn-success w-sm">Save Changes</button>
            </div>
            
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Members</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="choices-lead-input" class="form-label">Team Lead</label>
                        <select class="form-select" asp-items="ViewBag.ProjectManagersId" name="projectManagerId"
                                id="choices-lead-input">
                                <option value="" selected>Project Manager</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label">Team Members</label>
                        <div class="avatar-group">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Add Members">
                                
                                    <select id="mySelect" multiple="multiple" name="selectedMembers" asp-items="ViewBag.MembersId">
                                    </select>
                                    
                             
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    </div>
</form>
<button data-bs-toggle="modal"
        data-bs-target="#removeProjectModal" onclick="setProjectId(@Model.Id)" class="btn btn-danger me-2 w-sm">
    Archive
</button>
<!-- end row -->
<!-- removeProjectModal -->
<div id="removeProjectModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/jtibbqrq.json" trigger="loop"
                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Are you Sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you Sure You want to archive this Project ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                    <button onclick="archiveProject()" type="button" class="btn w-sm btn-danger" id="remove-project">Yes, Archive It!</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



@section Scripts{
    <!-- ckeditor -->
    <script src="~/assets/libs/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

    <!-- dropzone js -->
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>
    <!-- project-create init -->
    <script src="~/assets/js/pages/project-create.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- multi.js -->
    <script src="~/assets/libs/multi.js/multi.min.js"></script>
    <!-- autocomplete js -->
    <script src="~/assets/libs/tarekraafat/autocomplete.js/autoComplete.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#mySelect').select2({
                placeholder: 'Select options',
                closeOnSelect: false,
                templateResult: formatState,
                templateSelection: formatState
            });

            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var $state = $(
                    '<span> ' + state.text + '</span>'
                );
                return $state;
            }
        });
    </script>

    <script>
        // This is used to set the default dates of the calendars to the project start and end dates.
        document.addEventListener("DOMContentLoaded", function () {  // This is a JS event listener that fires when the DOM is ready. It then runs the anonymyous function.
            var projectStartDate = "@Model.StartDate.ToString("dd MMM, yyyy")"; // Sets projectStartDate to the model's start date based on its string format.
            var projectEndDate = "@Model.EndDate.ToString("dd MMM, yyyy")"; // Sets projectEndDate to the model's end date, same as above.

            function initFlatpickr(elementId, defaultDate) {  //This uses an initFlatpickr to avoid duplicating flatpickr initialization. It takes int he element id, and the data to set as default. 
                document.getElementById(elementId).flatpickr({  //Get the element by id, then use flatpickr to modify the formate, the default date, alt input, and an alt formate.
                    dateFormat: "d M, Y",
                    defaultDate: defaultDate,
                    altInput: true,
                    altFormat: "F j, Y"
                });
            }

            initFlatpickr("datepicker-startdate-input", projectStartDate); //Runs the function created above to adjust the default dates on the edit projects view calendar.
            initFlatpickr("datepicker-deadline-input", projectEndDate);
        });
    </script>

     <script>

        let selectedProjectId;
        function setProjectId(projectId)
        {           
         selectedProjectId = projectId;   
        }
   
        function archiveProject()
        {
            //String interpolation to create the url needed to handle this particular project
            let url = `/Projects/Archive/${selectedProjectId}`;

            //Sending an AJAX request to the server
                fetch(url, {
                    method:'POST',
                    headers: {
                        'Content-Type' : 'application/json',
                        'RequestVerifactionToken' : document.getElementsByName('__RequestVerificationToken')[0].value
                },
            })
            .then(response => {
                 if(response.ok) {
                     //Handling the success by reloading the page
                 window.location.href = '/Projects/Index'
                 }
                 else
                 {
                     //Handling the error
                     console.error('Error when archiving project:', response.statusText);
                 }
            })
            .catch(error => {
                //Handling network errors
                console.error('Network error: ', error);
            });
        }
    </script>

}





